n8n_workflows/daily_news_aggregator.json
{
  "name": "Tech News Aggregator Daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "name": "Schedule Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/scrape",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "deduplicate",
              "value": true
            },
            {
              "name": "store",
              "value": true
            },
            {
              "name": "generate_pdf",
              "value": true
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "name": "Scrape News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ \"http://localhost:8000\" + $json.pdf_path }}",
        "method": "GET",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 250]
    },
    {
      "parameters": {
        "fromEmail": "news@yourdomain.com",
        "toEmail": "recipient@example.com",
        "subject": "Daily Tech News Digest",
        "text": "Please find attached today's tech news digest.\\n\\nArticles processed: {{ $json.articles_processed }}\\nTime taken: {{ $json.elapsed_time }}s",
        "attachments": "data",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "message": "News aggregation failed: {{ $json.message }}"
      },
      "name": "Log Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 350]
    }
  ],
  "connections": {
    "Schedule Daily": {
      "main": [
        [
          {
            "node": "Scrape News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape News": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
